<h4>Template Forms</h4>
<hr>
<form autocomplete="off" (ngSubmit)="saveForm(formValues)" #formValues="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="name"
               placeholder="Nombre"
               required
               minlength="5"
               [class.is-invalid]="inputName.invalid && inputName.touched"
               [ngModel]="user.name"
               #inputName = "ngModel"
               >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="lastName"
               placeholder="Apellido"
               required
               minlength="5"
               [class.is-invalid]="inputLastName.invalid && inputLastName.touched"
               [ngModel]="user.lastName"
               #inputLastName = "ngModel"
               >
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             name="email"
             placeholder="Correo electrónico"
             required
             minlength="5"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             [class.is-invalid]="inputEmail.invalid && inputEmail.touched"
             [ngModel] = "user.email"
             #inputEmail = "ngModel"
             >
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
